<!doctype html>
<html>
	<head>
		<title>{{title}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="theme-color" content="#222222"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="shortcut icon" href="/static/images/fox.white.png" type="image/x-icon"/>
		<link rel="icon" 		  href="/static/images/fox.white.png" type="image/x-icon"/>

		<link rel="stylesheet" href="/static/css/font.awesome.min.css"/>
		<link rel="stylesheet" href="/static/css/font.geometry.css"/>
		<link rel="stylesheet" href="/static/css/design.geometry.css"/>
		<link rel="stylesheet" href="/static/css/design.dark.css"/> <!-- load dynamically in backend.js:D3s1gn4p1Operator -->

		<script type="text/javascript" src="/static/js/jq.min.js"></script>
		<script type="text/javascript" src="/static/js/backend.js"></script>
		<script type="text/javascript">
			var dispatcher = new V13wEv3ntD1spatch3r()
		</script>
		{% block head %}{% endblock %}
	</head>
	<body>
		{% block body %}{% endblock %}
	</body>
</html>